<div class="container" style="height: 162px; width: 162px; padding: 5px 20px" [routerLink]="['/categories', category?.id?.toString()]">
  <img [src]="category?.image" />
  <div style="display: flex; justify-content: space-between;">
    <h2 style="font-size: 16px; font-weight: bold;">{{category?.name}}</h2>
    <svg fill="#ff441f" width="24" height="24" viewBox="0 0 24 24" class="sc-cTAqQK jxOYit"><path d="M16.01 11H5c-.55 0-1 .45-1 1s.45 1 1 1h11.01v1.79c0 .45.54.67.85.35l2.78-2.79c.19-.2.19-.51 0-.71l-2.78-2.79c-.31-.32-.85-.09-.85.35V11z"></path></svg>
  </div>
</div>