.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}

nb-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}