<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" status="basic">
  <nb-card-header>
    <h4>Información de hospital</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="header-container">
      <img [src]="hospital?.image"/>
    </div>
    <form
      id="form"
      [formGroup]="form"
    >
      <div class="input-field">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" name="name" fullWidth type="text" nbInput placeholder="Nombre">
      </div>
      <div class="input-field">
        <label for="address">Dirección</label>
        <input id="address" formControlName="address" name="address" fullWidth type="text" nbInput placeholder="Dirección">
      </div>
      <div class="input-field">
        <label for="phone">Teléfono</label>
        <input if="phone" formControlName="phone" name="phone" fullWidth type="tel" nbInput placeholder="Teléfono">
      </div>
      <div class="input-field">
        <label for="email">Correo electrónico</label>
        <input id="email" formControlName="email" name="email" fullWidth type="email" nbInput placeholder="Email">
      </div>
      <div class="input-field">
        <label for="website">Sitio web</label>
        <input id="website" formControlName="website" name="website" fullWidth type="text" nbInput placeholder="Sitio web">
      </div>
      <div class="input-field">
        <label for="description">Descripción</label>
        <textarea id="description" formControlName="description" name="description" nbInput fullWidth placeholder="Full width"></textarea>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button *ngIf="enableEdit" nbButton status="danger" (click)="disableEditMode()">Cancelar</button>
    <button type="submit" form="form" *ngIf="enableEdit" nbButton status="success" (click)="save()">Guardar</button>
    <button *ngIf="!enableEdit" nbButton status="primary" (click)="enableEditMode()">Editar</button>
  </nb-card-footer>
</nb-card>