span {
  font-size: 70px;
  font-weight: lighter;
  strong {
    font-weight: bold;
  }
}

nz-input-group {
  height: 84px;
  width: 600px;
}

input {
  font-size: 20px;
  margin-left: 20px;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}